html{
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
}

body{
    background-image: url(https://i.ibb.co/tPzhgk1/pexels-codioful-7130544.jpg);
    background-repeat: round;
}

#mainContainer{
    display: flex;
   justify-content: center;
}

.name{
    display: flex;
    justify-content: center;
    border: 4px double rgb(6, 228, 244);
    border-radius: 100%;
    text-decoration: underline;
    text-decoration-color: rgb(170, 93, 203);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 8px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

#nameBox{
   margin-left: auto;
   margin-right: auto;
}

#col1{
    background-color: rgb(170, 93, 203);
    display: flex;
    border: 3px double rgb(6, 228, 244);
    border-radius: 15%;
    max-height: 650px;
}

#col1:hover{
    background-color: transparent;
    transition-delay: 200ms;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active {
    outline: none;
    box-shadow: none;
    border: transparent;
    border: none;
}

#col2{
    background-color: rgb(232, 51, 205);
    height: fit-content;
}

#col3{
    background-color: rgb(170, 93, 203);
    border: rgb(211, 28, 183) double 4px;
    height: fit-content;
}

#col3:hover{
    background-color: rgb(211, 28, 183);
    border-color: rgb(6, 228, 244);
}

.btn{
    color: rgb(232, 51, 205);
    text-decoration: underline rgb(232, 51, 205);
    border: 3px double  rgb(232, 51, 205);
}

.btn:hover {
    background-color: rgb(232, 51, 205);
    color: rgb(6, 228, 244);
    text-decoration: underline rgb(6, 228, 244);
    transition-delay: 100ms;
}

.btn:focus{
    color: blueviolet;
 }

 #inbox, #sent, #saved, #compose, #trash, #reply {
    display: flex;
    margin-bottom: 1em;
    margin-right: 2em;
 }

 #readEmail{
    color: rgb(6, 228, 244);
    text-decoration: underline;
    text-decoration-color: blueviolet;
 }

 .card-title{
    color: rgb(6, 228, 244);
    text-decoration: underline blueviolet;
}

.bi{
    fill: aqua;
}

.card-title:hover, #readEmail:hover, .bi:hover{
    color: black;
    text-decoration: underline black;
    fill: black;
}

.checkbox{
    accent-color: blueviolet;
 }

.emails1{
    text-decoration: underline;
    text-decoration-color: blueviolet;
    color: rgb(211, 28, 183);
    background-color: transparent;
    margin-top: 1em;
 }

.emails2{
    text-decoration: underline;
    text-decoration-color: blueviolet;
    color: rgb(232, 51, 205);
    background-color: transparent;
}

.emails1:hover{
    color: black;
}

.emails2:hover{
    color: black;
}

#hamButton{
    display: flex;
    align-self: start;
 }

#x{
 border: 4px double rgb(6, 228, 244); 
background-color: rgb(232, 51, 205);
transition-delay: 100ms;
}

#newEmail, #recipient, #text{
    text-decoration: underline rgb(170, 93, 203);
    color: rgb(4, 151, 161);
}

#footer{
    color: blueviolet;
    text-decoration: underline aqua;
  display: flex;  
justify-content: center;
position: relative;
margin-top: 5em;
padding-top: 2em;
}

#footer:hover{
color: black;
text-decoration: underline blueviolet;
}
