.html{
    height: 100vh;
    width: 100vw;
}

.body{
display: flex;
height: 100vh;
width: 100vw;
}

.name{
    display: flex;
    justify-content: center;
    border: 4px double rgb(6, 228, 244);
    text-decoration: underline;
    text-decoration-color: rgb(170, 93, 203);
}

#col1{
    background-color: rgb(55, 174, 233);
    display: flex;
}


#col2{
    background-color: rgb(232, 51, 205);
}

#col3{
    background-color: rgb(170, 93, 203);
    border: rgb(211, 28, 183) double 4px;
}

.btn{
    color: rgb(232, 51, 205);
    text-decoration: underline rgb(232, 51, 205);
    border: 3px double  rgb(232, 51, 205);
}

.btn:hover {
    background-color: rgb(232, 51, 205);
    color: rgb(6, 228, 244);
    text-decoration: underline rgb(6, 228, 244);
    transition-delay: 100ms;
}

.btn:focus{
    color: blueviolet;
 }

 #inbox, #sent, #saved, #compose, #trash, #reply {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    justify-content: center;
 }

 .checkbox{
    accent-color: blueviolet;
 }

 #hamButton{
    display: flex;
    align-self: flex-start;
    max-height: 100vh;
 }

